{% extends 'base.html' %}
{% load static %}
<!-- Title block > Start -->
{% block title %}
    Login | Register
{% endblock title %}
<!-- Title block > End -->

<!-- Extra css Block > Start -->
{% block extra_css %}
    <!-- Bootstrap Datepicker -->
    <link rel="stylesheet" href="{% static 'bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}">
{% endblock extra_css %}
<!-- Extra css Block > End -->

<!-- Body Block > Start -->
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container d-flex align-items-center">
            <a class="navbar-brand" href="{% url 'Home_page' %}">
                <h3>Post and Manage Status</h3>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-links" aria-controls="nav-links" aria-expanded="false" aria-label="Toggle navigation">
                <i class="feather icon-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="nav-links">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link pl-0" id="link-login" style="color: #007bff">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" id="link-register">
                            Register
                        </a>
                    </li>
                </ul>
	      </div>
        </div>
    </nav>

    <div class="container" style="margin-top: 10px">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-center">
                            <h4 id="card_header">Login</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="login">
                            <form action="{% url 'Home_page' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                                    <div class="col-md-8">
                                        <input type="email" id="email_address" class="form-control" name="email_address" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                    <div class="col-md-8">
                                        <input type="password" id="password" class="form-control" name="password" required>
                                    </div>
                                </div>
                                <div class="col-md-8 offset-md-4">
                                    <button type="submit" class="btn btn-primary" id="btn-login">
                                        Login
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div id="register" style="display: none">
                            <form action="{% url 'Home_page' %}" method="post" id="form_register">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label for="first_name" class="col-md-4 col-form-label text-md-right">First Name</label>
                                    <div class="col-md-8">
                                        <input type="text" id="first_name" class="form-control" name="first_name" required>
                                        <div id="Error_first_name" style="color: red; display: none"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="last_name" class="col-md-4 col-form-label text-md-right">Last Name</label>
                                    <div class="col-md-8">
                                        <input type="text" id="last_name" class="form-control" name="last_name" required>
                                        <div id="Error_last_name" style="color: red; display: none"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-md-4 col-form-label text-md-right">Email Address</label>
                                    <div class="col-md-8">
                                        <input type="email" id="email" class="form-control" name="email" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="contact" class="col-md-4 col-form-label text-md-right">Contact Number</label>
                                    <div class="col-md-8">
                                        <input type="text" id="contact" class="form-control" name="contact" maxlength="10" required>
                                        <div id="Error_contact" style="color: red; display: none"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="dob" class="col-md-4 col-form-label text-md-right">Date of Birth</label>
                                    <div class="col-md-8">
                                        <input type="text" id="dob" class="form-control datepicker" name="dob" required>
                                        <div id="Error_dob" style="color: red; display: none"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="city" class="col-md-4 col-form-label text-md-right">City</label>
                                    <div class="col-md-8">
                                        <select class="custom-select" id="city" name="city" data-live-search="true" required>
                                            <option value="" selected disabled>Select City</option>
                                            <option value="Ahmedabad">Ahmedabad</option>
                                            <option value="Amreli">Amreli</option>
                                            <option value="Anand">Anand</option>
                                            <option value="Banas kantha">Banas kantha</option>
                                            <option value="Bharuch">Bharuch</option>
                                            <option value="Bhavnagar">Bhavnagar</option>
                                            <option value="Dang">Dang</option>
                                            <option value="Dahod">Dahod</option>
                                            <option value="Gandhinagar">Gandhinagar</option>
                                            <option value="Jamnagar">Jamnagar</option>
                                            <option value="Junagadh">Junagadh</option>
                                            <option value="Kachch">Kachch</option>
                                            <option value="Kheda">Kheda</option>
                                            <option value="Mahesana">Mahesana</option>
                                            <option value="Narmada">Narmada</option>
                                            <option value="Navsari">Navsari</option>
                                            <option value="Panch Mahal">Panch Mahal</option>
                                            <option value="Patan">Patan</option>
                                            <option value="Porbandar">Porbandar</option>
                                            <option value="Rajkot">Rajkot</option>
                                            <option value="Sabar kantha">Sabar kantha</option>
                                            <option value="Surat">Surat</option>
                                            <option value="Surendranagar">Surendranagar</option>
                                            <option value="Tapi">Tapi</option>
                                            <option value="Vadodara">Vadodara</option>
                                            <option value="Valsad">Valsad</option>
                                        </select>
                                        <div id="Error_city" style="color: red; display: none"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                    <div class="col-md-8">
                                        <input type="password" id="password" class="form-control" name="password" maxlength="16" minlength="6" required>
                                        <div id="Error_password" style="color: red; display: none"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="cnfrmpassword" class="col-md-4 col-form-label text-md-right">Confirm Password</label>
                                    <div class="col-md-8">
                                        <input type="password" id="cnfrmpassword" class="form-control" name="cnfrmpassword" minlength="6" maxlength="16" required>
                                        <div id="Error_cnfrmpassword" style="color: red; display: none"></div>
                                    </div>
                                </div>
                                <div class="col-md-8 offset-md-4">
                                    <button type="submit" class="btn btn-primary" id="btn-register">
                                        Register
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
<!-- Body Block > End -->

<!-- Extra Js Block > Start -->
{% block extra_js %}
    <!-- Bootstrap Datepicker -->
    <script type="text/javascript" src="{% static 'bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>

    <!-- Sweetalert -->
    <script type="text/javascript" src="{% static 'js/sweetalert2@9.js' %}"></script>
{% endblock extra_js %}
<!-- Extra Js Block > End -->

<!-- Custom Js Block > Start -->
{% block custom_js %}
    <!-- Transition js -->
    <script type="text/javascript">
        $('a#link-login').on('click', function (event) {
            $(this).css('color', '#007bff');
            $('a#link-register').removeAttr('style');
            event.preventDefault();
            $('div#register').hide();
            $('div#login').show();
            $('h4#card_header').html("Login");
        });

        $('a#link-register').on('click', function (event) {
            $(this).css('color', '#007bff');
            $('a#link-login').removeAttr('style');
            event.preventDefault();
            $('div#register').show();
            $('div#login').hide();
            $('h4#card_header').html("Regsiter");
        });
    </script>

    <!-- Enabling Bootstrap Datepicker -->
    <script type="text/javascript">
        $(".datepicker").datepicker({
            format: "dd/mm/yyyy"
        });
    </script>

    <!-- Sweetalert -->
    <script type="text/javascript">
        {% if messages %}
            {% for message in messages %}
                Swal.fire({
                    title: "{{ message }}",
                    type: "{{ message.tags }}",
                    icon: "{{ message.tags }}"
                });
            {% endfor %}
        {% endif %}
    </script>

    <!-- Javascript validations for registration form -->
    <script type="text/javascript">

        var valid_fname, valid_lname, valid_contact, valid_dob, valid_password ,pwd;
        $('input#first_name').on('blur', function () {
            var val = $(this).val();
            if(val === "") {
                $('div#Error_first_name')
                    .html("Enter valid First Name")
                    .show();
                $(this).css('border-color', 'red');
                valid_fname = 0;
            }
            else {
                $('div#Error_first_name').hide();
                $(this).removeAttr('style');
                valid_fname = 1;
            }
        });

        $('input#last_name').on('blur', function () {
            var val = $(this).val();
            if(val === "") {
                $('div#Error_last_name')
                    .html("Enter valid First Name")
                    .show();
                $(this).css('border-color', 'red');
                valid_lname = 0;
            }
            else {
                $('div#Error_last_name').hide();
                $(this).removeAttr('style');
                valid_lname = 1;
            }
        });

        $('input#contact').on('blur', function () {
            var val = $(this).val();
            var re = /[0-9]{10}/;
            if(re.test(val)) {
                $('div#Error_contact').hide();
                $(this).removeAttr('style');
                valid_contact = 1;
            }
            else {
                $('div#Error_contact')
                    .html("Enter valid Contact Number")
                    .show();
                $(this).css('border-color', 'red');
                valid_contact = 0;
            }
        });

        $('input#dob').on('blur', function () {
            var val = $(this).val();
            var today = new Date();
            if(val === "" || val.split('/')[2] >= today.getFullYear()) {
                $('div#Error_dob')
                    .html("Enter valid Date of Birth")
                    .show();
                $(this).css('border-color', 'red');
                valid_dob = 0;
            }
            else {
                $('div#Error_dob').hide();
                $(this).removeAttr('style');
                valid_dob = 1;
            }
        });

        function validate_password() {
            var val = $(this).val();
            var regularExpression = /^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[a-zA-Z!@#$%&? "])[a-zA-Z0-9!@#$%&?]{6,16}$/;
            if(regularExpression.test(val)) {
                pwd = val;
                $('div#Error_password').hide();
                $(this).removeAttr('style');
                valid_password = 1;
            }
            else {
                $('div#Error_password')
                    .html("Password must contain one upper case, one lower case, one digit and one special character and must be at least 6 character long.")
                    .show();
                $(this).css('border-color', 'red');
                valid_password = 0;
            }
        }

        $('input#password').on('blur', validate_password);
        $('input#password').on('input', validate_password);

        function check_password() {
            var val = $(this).val();
            if(val != pwd) {
                $('div#Error_cnfrmpassword')
                    .html("Password does not match.")
                    .show();
                $(this).css('border-color', 'red');
                valid_password = 0;
            }
            else {
                $('div#Error_cnfrmpassword').hide();
                $(this).removeAttr('style');
                valid_password = 1;
            }
        }
        $('input#cnfrmpassword').on('input', check_password);
        $('input#cnfrmpassword').on('blur', check_password);

        $('button#btn-register').on('click', function (event) {
            event.preventDefault();
            if(valid_fname && valid_lname && valid_contact && valid_dob && valid_password) {
                $('#form_register').submit();
            }
            else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'There is error in data you have given. Please correct that.',
                    type: 'error'
                });
            }
        });
    </script>
{% endblock custom_js %}
<!-- Custom Js Block > End -->