{% extends 'base.html' %}
{% load static %}
<!-- Title block > Start -->
{% block title %}
{% endblock title %}
<!-- Title block > End -->

<!-- Extra css Block > Start -->
{% block extra_css %}
{% endblock extra_css %}
<!-- Extra css Block > End -->

<!-- Body Block > Start -->
{% block body %}
{% endblock body %}
<!-- Body Block > End -->

<!-- Extra Js Block > Start -->
{% block extra_js %}
{% endblock extra_js %}
<!-- Extra Js Block > End -->

<!-- Custom Js Block > Start -->
{% block custom_js %}
{% endblock custom_js %}
<!-- Custom Js Block > End -->