{% extends 'base.html' %}
{% load static %}
<!-- Title block > Start -->
{% block title %}
    User Dashboard
{% endblock title %}
<!-- Title block > End -->

<!-- Extra css Block > Start -->
{% block extra_css %}
{% endblock extra_css %}
<!-- Extra css Block > End -->

<!-- Body Block > Start -->
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container d-flex align-items-center">
            <a class="navbar-brand" href="{% url 'User_Dashboard' %}">
                <h3>Post and Manage Status</h3>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-links" aria-controls="nav-links" aria-expanded="false" aria-label="Toggle navigation">
                <i class="feather icon-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="nav-links">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown custom-dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ name }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item custom-dropdown" href="{% url 'User_Profile' %}" style="margin-bottom: 5px">
                                <i class="feather icon-settings"></i>&nbsp;&nbsp;Profile
                            </a>
                            <a class="dropdown-item custom-dropdown" href="{% url 'Logout' %}">
                                <i class="feather icon-log-out"></i>&nbsp;&nbsp;Logout
                            </a>
                        </div>
                    </li>
                </ul>
	      </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 10px">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="info" class="col-form-label">Enter Information</label>
                                <textarea id="info" class="form-control" name="info" required></textarea>
                                <button type="button" class="btn btn-outline-primary mt-2" id="info-submit">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12" style="margin-top: 10px;">
                <div class="card">
                    <div class="card-header">
                        Information Submitted by you
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col" style="width: 60%">Information</th>
                                    <th scope="col" style="width: 25%">Date</th>
                                    <th scope="col" style="width: 15%">Action</th>
                                </tr>
                                </thead>
                                <tbody id="info-table">
                                {% ifequal count 0 %}
                                    <tr>
                                        <td colspan="3"><span style="color: red;">No Information available.</span></td>
                                    </tr>
                                {% else %}
                                    {% for i in info %}
                                        <tr row_id="{{ i.id }}">
                                            <td style="white-space: normal;">
                                                <div class="info-data">
                                                    {{ i.info }}
                                                </div>
                                            </td>
                                            <td>{{ i.timestamp|date:"d F, Y h:i A" }}</td>
                                            <td class="text-center">
                                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn-edit btn btn-sm btn-primary">
                                                        <i class="feather icon-edit"></i>
                                                    </button>
                                                    <button type="button" class="btn-remove btn btn-sm btn-danger">
                                                        <i class="feather icon-trash-2"></i>
                                                    </button>
                                                    <button type="button" class="btn-save btn btn-sm btn-success">
                                                        <i class="feather icon-check"></i>
                                                    </button>
                                                    <button type="button" class="btn-cancel btn btn-sm btn-secondary">
                                                        <i class="feather icon-x"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endifequal %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="overlay">
        <svg class="spinner centered" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
           <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>

    {% csrf_token %}
{% endblock body %}
<!-- Body Block > End -->

<!-- Extra Js Block > Start -->
{% block extra_js %}
    <!-- Sweetalert -->
    <script type="text/javascript" src="{% static 'js/sweetalert2@9.js' %}"></script>
{% endblock extra_js %}
<!-- Extra Js Block > End -->

<!-- Custom Js Block > Start -->
{% block custom_js %}
    <!-- enablind spinner -->
    <script type="text/javascript">
        var token =  $('input[name="csrfmiddlewaretoken"]').attr('value');

        function displayOverlay() {
            $('div#overlay').show();
        }

        function removeOverlay() {
            $('div#overlay').hide();
        }
    </script>

    <!-- Javasscripts for modifying information dara -->
    <script type="text/javascript">
        // Buttons
        $(document).find('button.btn-save').hide();
        $(document).find('button.btn-cancel').hide();

        // Click event for edit button.
        $(document).on('click','button.btn-edit', function (event) {
            event.preventDefault();
            var tbl_row = $(this).closest('tr');
            var info_id = tbl_row.attr('row_id');

            //Buttons
            tbl_row.find('.btn-edit').hide();
            tbl_row.find('.btn-remove').hide();
            tbl_row.find('.btn-save').show();
            tbl_row.find('.btn-cancel').show();

            var div = tbl_row.find('.info-data');
            div.attr('original_entry', div.html().toString().trim());
            var input = '<textarea class="form-control" name="new_info" id="new_info" cols="3">'+ div.attr('original_entry') +'</textarea>';
            div.html(input);
        });

        //click event for save button
        $(document).on('click', 'button.btn-save', function (event) {
            displayOverlay();
            event.preventDefault();
            var tbl_row = $(this).closest('tr');
            var info_id = tbl_row.attr('row_id');

            //Buttons
            tbl_row.find('.btn-edit').show();
            tbl_row.find('.btn-remove').show();
            tbl_row.find('.btn-save').hide();
            tbl_row.find('.btn-cancel').hide();

            var info = tbl_row.find('[name=new_info]').val();
            //ajax request
            $.ajax({
                type:"PUT",
                url:"/api/edit-info/"+ info_id +"/",
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", token);
                },
                data: {
                    info: info
                },

                success: function (msg) {
                    removeOverlay();
                    Swal.fire({
                        title: "Successfully Updated",
                        text: msg["msg"],
                        icon: "success"
                    });

                    tbl_row.find('div.info-data').html(info);
                },

                error: function (msg) {
                    removeOverlay();
                    Swal.fire({
                        title: msg.status + " " + msg.statusText,
                        text: msg["error"],
                        dangerMode: true,
                        icon: "error"
                    });

                    var div = tbl_row.find('div.info-data');
                    div.html(div.attr('original_entry'));
                }
            })
        });

        //click event for cancel button
        $(document).on('click', 'button.btn-cancel', function (event) {
            event.preventDefault();
            var tbl_row = $(this).closest('tr');
            //Buttons
            tbl_row.find('.btn-edit').show();
            tbl_row.find('.btn-remove').show();
            tbl_row.find('.btn-save').hide();
            tbl_row.find('.btn-cancel').hide();

            var div = tbl_row.find('.info-data');
            div.html(div.attr('original_entry'));
        });

        // Click event for action delete button
        $(document).on('click', 'button.btn-remove', function (event) {
            event.preventDefault();
            var tbl_row = $(this).closest('tr');
            var info_id = tbl_row.attr('row_id');

            Swal.fire({
                title: 'Are you Sure?',
                text: 'Information will be deleted.',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Delete',
                showLoaderOnConfirm: true,
                preConfirm: () => {
                    displayOverlay();
                    // ajax request
                    $.ajax({
                        type:"DELETE",
                        url:"/api/edit-info/"+ info_id +"/",
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", token);
                        },

                        success: function (msg) {
                            removeOverlay();
                            Swal.fire({
                                title: "Successfully deleted",
                                text: msg["msg"],
                                icon: "success"
                            });

                            //deleting row
                            tbl_row.remove();
                        },

                        error: function (msg) {
                            removeOverlay();
                            Swal.fire({
                                title: msg.status + " " + msg.statusText,
                                text: msg["error"],
                                dangerMode: true,
                                icon: "error"
                            });
                        }
                    });
                },
                allowOutsideClick: () => !Swal.isLoading()
            });
        });
    </script>

    <!-- Ajax Request for Submitting info -->
    <script type="text/javascript">
        $('button#info-submit').on('click', function (event) {
            displayOverlay();
            event.preventDefault();
            var info = $('textarea#info').val();
            $('textarea#info').val('');

            $.ajax({
                type:"POST",
                url:"/api/info-api/",
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", token);
                },
                data: {
                    auth_id: "{{ request.user.id }}",
                    info: info,
                },

                success: function (msg) {
                    removeOverlay();
                    var html = '<tr row_id="'+ msg["id"] +'">';
                    html += '<td style="white-space: normal;"><div class="info-data">'+ info +'</div></td><td>'+ msg["date"] +'</td>';
                    html += '<td class="text-center"><div class="btn-group btn-group-sm" role="group" aria-label="Basic example"><button type="button" class="btn-edit btn btn-sm btn-primary"><i class="feather icon-edit"></i></button><button type="button" class="btn-remove btn btn-sm btn-danger"><i class="feather icon-trash-2"></i></button><button type="button" class="btn-save btn btn-sm btn-success"><i class="feather icon-check"></i></button><button type="button" class="btn-cancel btn btn-sm btn-secondary"><i class="feather icon-x"></i></button></div></td>';
                    html += '</tr>';
                    if($('button.btn-edit').length == 0) {
                        $('tbody#info-table').html('');
                    }

                    $('tbody#info-table').prepend(html);
                    $(document).find('button.btn-save').hide();
                    $(document).find('button.btn-cancel').hide();

                    Swal.fire({
                        type: "success",
                        title: msg["msg"],
                        icon: "success",
                    });
                },

                error: function (msg) {
                    removeOverlay();
                    Swal.fire({
                        title: msg.status + " " + msg.statusText,
                        text: msg["error"],
                        dangerMode: true,
                        type: "error",
                    });
                }
            });
        })
    </script>
{% endblock custom_js %}
<!-- Custom Js Block > End -->